# {{ ansible_managed }}
version: '3'
services:
  nginx_reverse_proxy:
    image: nginx:latest
    volumes:
     - ./conf.d:/etc/nginx/conf.d
#     - ./certbot/www:/var/www/certbot/
#     - ./certbot/conf/:/etc/nginx/ssl/
     - ./log/:/var/log/nginx/
     - ./selfsigned/:/etc/nginx/selfsigned/
    ports:
     - "{{ nginx.http_port }}:80"
     - "{{ nginx.https_port }}:443"
    restart: unless-stopped
#    depends_on:
#      - certbot
#  certbot:
#    image: certbot/certbot:latest
#    volumes:
#     - ./certbot/www/:/var/www/certbot/
#     - ./certbot/conf/:/etc/letsencrypt/
