# {{ ansible_managed }}
---
version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: 'pihole'
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 67:67/udp
      - {{ pihole_web_ui_port }}:80/tcp
      - {{ pihole_https_port }}:443/tcp
    environment:
      TZ: "{{ timezone }}"
      WEBPASSWORD: "{{ pihole_webpass }}"
      ServerIP: "{{ pihole_server_ip }}"
    dns:
      - 127.0.0.1
      - 1.1.1.1
    volumes:
      - {{ docker_home_dir }}/pihole/etc-pihole/:/etc/pihole/
      - {{ docker_home_dir }}/pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
